<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="<%= url('/favicon.svg') %>" type="image/svg+xml">
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>